<h3>Страница добавления/редактирования книг</h3></br>
<table class="table table-straped" style="width: 400px;">
    <h4>Книги для редактирования</h4>
<?php
    echo"
    <td>Название книги</td><td>Ссылка на файл</td>
    ";
    foreach ($data['books'] as $book_data) {?>

    <tr>
        <?php if(!($book_data['is_deleted'])){ ?>
        <td><b><?= $book_data['title'] ?></b></td>

        <td><?php
        $file = Config::get('books') . $book_data['file_name'];

        if($book_data['file_name'] != ''){
        echo" <p><a href=$file
                    download>Скачать книгу</a></p>" ;
            }

            ?></td>

        <td align="right">
            <a href="/admin/books/edit/<?= $book_data['id'] ?>"><button class="btn btn-sm btn-primary">
                Edit</button></a>
            <button class="del btn btn-sm btn-warning" data-id="<?= $book_data['id'] ?>">
                Delete</button>




        </td>
        <?php } ?>
    </tr>

    <?php } ?>


</table>

<table class="table table-straped" style="width: 400px;">
    <h4>Книги для удаления</h4>
    <?php
    echo"
    <td>Название книги</td><td>Ссылка на файл</td>
    ";
    foreach ($data['books'] as $book_data) {?>

    <tr>
        <?php if($book_data['is_deleted']){ ?>
        <td><b><?= $book_data['title'] ?></b></td>

        <td><?php
        $file = Config::get('books') . $book_data['file_name'];

        if($book_data['file_name'] != ''){
        echo" <p><a href=$file
                    download>Скачать книгу</a></p>" ;
            }

            ?></td>

        <td align="right">
            <a href="/admin/books/edit/<?= $book_data['id'] ?>"><button class="btn btn-sm btn-primary">
                Edit</button></a>
            <button class="del btn btn-sm btn-warning" data-id="<?= $book_data['id'] ?>">
                Delete</button>
        </td>
        <?php } ?>
    </tr>

    <?php } ?>


</table>

</br>

<div>
    <a href="/admin/books/add/"><button class="btn btn-sm btn-success">
        Добавить книгу</button></a>
</div>
