<h3>Books</h3></br>
<table class="table table-straped" style="width: 400px;">
<?php

    foreach ($data['books'] as $book_data) {?>

    <tr>
        <td><b><?= $book_data['title'] ?></b></td>
        <td align="right">
            <a href="/admin/books/edit/<?= $book_data['id'] ?>"><button class="btn btn-sm btn-primary">
                Edit</button></a>
            <a href="/admin/books/delete/<?= $book_data['id'] ?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">
                Delete</button></a>
        </td>
    </tr>

    <?php } ?>


</table>

</br>

<div>
    <a href="/admin/books/add/<?= $page_data['id'] ?>"><button class="btn btn-sm btn-success">
        New Page</button></a>
</div>
