
<div class="book page-book">
    <div class="books-main" style="margin-top: 20px;">

        <p>Автор книги: <b><?=$data['book']['author']?></b></p>
        <p>Название книги: <b><?=$data['book']['title']?></b></p>

        <?php foreach ($data['categories'] as $data_category){
        if($data['book']['category'] == $data_category['category_id']){
        echo "<p>Категория: " . $data_category['category'] ?>

        <?php } ?>
        <?php } ?>

        <p>Описание: <b><?=$data['book']['description']?></b></p>
        <p>Дата загрузки: <b><?=$data['book']['add_date']?></b></p>
        <div>
            <p>
                <?php
        $file = Config::get('books') . $data['book']['file_name'];

        if($data['book']['file_name'] != ''){
        echo" <p><a href=$file
                    download>Скачать книгу</a></p>" ;
            }

            ?>
        </div>
    </div>

    <div class="book-picture">
        <img src="<?=Config::get('images') . $data['book']['picture_path']?>"
             alt="Картинка книги <?=$data['book']['title']?> ">
    </div>

    </div>

    </div>



   <?// Удали коммент, чтобы увидеть имя файла php echo $data['book']['file_name']; ?>

</div>