body{
background-color: grey;
font-size: 16px;
    height: 100%;
}

header{
    width: 960px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    background-color: #D3D3D3;

}
header>h3{
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
    margin-top:0;
}
header>h4{
    margin-bottom:0;
    padding: 10px;
    text-align: center;
}
footer{
    width: 960px;
    background-color: green;
    margin: auto;
    background-color: #C0C0C0;
    min-height: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 50px;
    margin-top: -30px;
    position: relative;
    text-align: center;
}
footer>p{
    margin-top:0;
    padding:7px 15px 5px 15px;
}
.starter-template{
    padding: 40px 15px;
    width: 960px;
    background-color: #F5F5F5;
    margin: auto;
}

form{
    width: 400px;
    max-width: 400px;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.alert{
    width: 400px;
    max-width: 400px;
}

.navbar{
width: 960px;
margin: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.starter-template{
padding-left: 150px;
    width: 960px;
}

.container{

}

.book{
    border: 3px solid black;
    margin: auto;
    padding: 20px 40px 40px 40px;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px;

}

.books-main{
    float:left;
    width: 300px;


}

.book-picture{
margin-right: auto;
    text-align: right;
}
.page-book{
    min-height: 300px;
}

 img{
    width: 250px;
    height: 200px;

}

 .table{
     width: 100px;
 }

 .download{
     margin-left: 220px;
 }

 .butn{
     margin-right: 1000px;

 }

 .page404{
     background: url(../image/404.jpg) 100% 100% no-repeat;
     width:     600px;
     height:    400px;
     background-color: grey;
     color:     black;
     background-size: 100%;
     background-position-y: center;
     background-position: center;
 }

 .page404>p{
     padding:85px;
     padding-top:100px;
     text-align: center;
     font-size: 22px;
     font-weight: bold;
 }

.page404>h1{
    padding:35px;
    padding-top:115px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.comments{
    margin-right: 80px;
    text-align: center;
}

