body{
background-color: grey;
font-size: 16px;
}

header{
    width: 960px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    background-color: #D3D3D3;

}
header>h3{
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
    margin-top:0;
}
header>h4{
    margin-bottom:0;
    padding: 10px;
    text-align: center;
}
footer{
    width: 960px;
    background-color: green;
    margin: auto;
    background-color: #C0C0C0;
    min-height: 100px;
    margin-bottom: 0px;
}
footer>p{
    margin-top:0;
    padding:7px 15px 5px 15px;
}
.starter-template{
    padding: 40px 15px;
    width: 960px;
    background-color: #F5F5F5;
    margin: auto;
}

form{
    width: 400px;
    max-width: 400px;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.alert{
    width: 400px;
    max-width: 400px;
}

.navbar{
width: 960px;
margin: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}
.starter-template{
padding-left: 150px;
    width: 960px;
}

.container{

}

.book{
    border: 3px solid black;
    margin: auto;
    padding: 20px 40px 40px 40px;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 400px;

}

.books-main{
    float:left;
    width: 300px;


}

.book-picture{
margin-right: auto;
    text-align: right;


}
.page-book{
    min-height: 700px;
}

 img{
    width: 250px;
    height: 200px;

}