<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title><?=Config::get('site_name')?></title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin/books/about"><?=Config::get('site_name')?>  <?=__('lng.admin',
            'Admin Section') ?> </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a <?php if (App::getRouter()->getController() == 'pages'){
                    ?>  class="active " <?php } ?> href="/admin/books/">Управление книгами</a></li>
                <li><a <?php if (App::getRouter()->getController() == 'contacts'){
                    ?>  class="active " <?php } ?>href="/admin/categories/">Управление категориями</a></li>
                <li><a <?php if (App::getRouter()->getController() == 'contacts'){
                    ?>  class="active " <?php } ?>href="/admin/comments/">Управление комментариями</a></li>
                <li><a   class="active " href="/">На главную</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">

        <?php if(Session::hasFlash()) { ?>
        <div class="alert alert-info" role="alert">
            <?php Session::flash() ?>

        </div>
        <?php } ?>

        <?=$data['content']?>
    </div>

</div>
</br>




<!--</br>-->
<!--<?=__('lng.test', 'default_value')?>-->
<!--</br>-->


</body>

</html>