<h3>Категории </h3>
<table class="table table-stripped" style="width: 100%;">
    <tr>
        <td style="width: 5%;">id</td>
        <td style="width: 10%;">Name</td>

    </tr>
    <?php foreach($data as $item){ ?>
    <tr>
        <td><?=$item['category_id']?></td>
        <td><a href = "/categories/view/<?=$item['category_id']?>"><?=$item['category']?></a></td>
        <td><a href="/admin/categories/edit/<?= $item['category_id'] ?>"><button class="btn btn-sm btn-primary">
            Edit</button></a></td>
    </tr>
    <?php }?>
</table>

