<div class="categories">
   <h3>Категория: <?php  foreach($data['category'] as $a)
        echo($a['category']);

?>
   </h3>
</div>
<div class="allbooks">
    <table class="table table-stripped" style="width: 100%;">
        <tr>
            <td style="width: 5%;">Название книги</td>
            <td style="width: 10%;">Автор</td>
            <td style="width: 10%;">Количество скачиваний</td>
            <td style="width: 10%;">Ссылка для скачивания</td>


        </tr>
        <?php foreach($data['categories'] as $item){ ?>
        <tr>
            <td><?=$item['title']?></td>
            <td><?=$item['author']?></td>
            <td><?=$item['download']?></td>

            <?php $file = '/uploads/' . $item['file_name'] ?>
            <td><button class="down btn btn btn-primary" data-file="<?= $file ?>" data-id="<?=$item['id']?>">Скачать книгу</button>
            </td>
        </tr>
        <?php }?>
    </table>



</div>



